@model Teste.Models.Pais

@{
    ViewData["Title"] = "Paises";
}

<h2>Paises</h2>

<div>
    <h4>Pais</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.abbr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.abbr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.largest_city)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.largest_city)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.capital)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.capital)
        </dd>
    </dl>
</div>



<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="country" type="hidden" class="form-control" />
        <input asp-for="name" type="hidden" class="form-control" />
        <input asp-for="abbr" type="hidden" class="form-control" />
        <input asp-for="area" type="hidden" class="form-control" />
        <input asp-for="largest_city" type="hidden" class="form-control" />
        <input asp-for="capital" type="hidden" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Inserir no BD" class="btn btn-default" />
    </div>
</form>

<html>
<body>
    <form>
        <input type="button" value="Voltar" onClick="history.go(-1)">
        <input type="button" value="Avançar" onCLick="history.forward()">
        <input type="button" value="Atualizar" onClick="history.go(0)">
    </form>
</body>
</html>

